html {
  height: 100%;
}

body {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

:root {
  --borderRadius: 10px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

.mark {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 2% auto;
  border-radius: var(--borderRadius);
}

#name {
  width: 75%;
}

#photo {
  width: 25%;
}

h1 {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  font-size: xx-large;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80%;
  text-decoration: underline;
  text-align: center;
}

#avatar {
  width: 70px;
}

nav {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  width: 90%;
  margin: 2% auto;
}

nav ul {
  display: flex;
  width: 90%;
  margin: 3% auto;
  justify-content: space-evenly;
}

header li {
  display: flex;
  align-items: center;
  font-size: large;
  background-color: violet;
  padding: 5px;
  border-radius: var(--borderRadius);
  border: none;
  color: white;
  height: 30px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
}

header li:hover {
  box-shadow: inset 300px 0 0 0 #f9e506;
  color: #000;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}

.aboutMe {
  width: 80%;
  margin: 0 auto;
}

.sectionHeadings {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin: 2% auto;
  text-decoration: underline;
  width: 100%;
}

main p {
  line-height: 20px;
  text-align: center;
  font-size: large;
}

p {
  text-align: center;
  margin: 1%;
}

.hireMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hireMe ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hireMe ul li {
  text-align: center;
  font-size: large;
  background-color: violet;
  padding: 5px;
  border-radius: var(--borderRadius);
  border: none;
  color: white;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
  margin: 0 5%;
}

.hireMe ul li:hover {
  box-shadow: inset 300px 0 0 0 #f9e506;
  color: #000;
}

/* MyWork Page */

.card {
  border: 2px dashed white;
  margin: 5% auto;
  padding: 5%;
  border-radius: var(--borderRadius);
}

.myWorkHeadings {
  display: flex;
  width: 100%;
  font-size: x-large;
  margin: 3% auto;
  justify-content: center;
  background-color: blue;
  padding: 2% 0;
  border-radius: var(--borderRadius);
}

#images {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#images img {
  margin-bottom: 5%;
}

.websiteDescription {
  padding: 4%;
  background-image: linear-gradient(
    rgb(153, 0, 255) 0%,
    rgb(231, 102, 236) 100%
  );
  margin: 4% auto;
  border-radius: var(--borderRadius);
  line-height: 20px;
  text-align: center;
  font-size: large;
}

.myWorkHeadings a {
  text-align: center;
  color: white;
}

img {
  width: 100%;
  border-radius: var(--borderRadius);
}

h4 {
  text-align: center;
  margin: 1%;
}

a img {
  border: 2px solid black;
  transition: all 0.5s ease-in-out;
}

a img:hover {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
    0 0 15px rgba(232, 102, 236, 1);
}

@media screen and (min-width: 768px) {
  section {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .topRow {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .bottomRow {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .card {
    width: 40%;
    margin: 2% 0;
    margin-right: 2%;
    padding: 2%;
  }

  #mostRecent {
    width: 80%;
  }

  #images {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #images a {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
  }

  #avatar {
    width: 100px;
  }

  .websiteDescription {
    line-height: 25px;
    text-align: center;
    font-size: x-large;
  }

  nav ul {
    display: flex;
    width: 90%;
    margin: 2% auto;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  #avatar {
    width: 80px;
  }

  nav {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    width: 90%;
    margin: 1% auto;
  }

  nav ul {
    display: flex;
    width: 90%;
    margin: 1% auto;
    justify-content: space-evenly;
  }
}
