/* core info */
/* * {
    background-color: white;
} */
/* html { 
    height: 100%;
    position: relative;
}

body {
    height: 100%;
}
/*  */
:root {
    --section-background-color: #00203FFF;
    --text-background-color: #ADEFD1FF;
    --border-radius: 20px;
    --text-color: white;
    --border-color: grey;
}

main {
    display: inline-block;
    width: 85%;
    float: right;
}

p {
    background-color: var(--text-background-color);
    margin: 1% 0%;
    border-radius: var(--border-radius);
    padding: 15px;
}

/* side bar for scrolling and navigating */
aside {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0px solid var(--section-background-color);
    align-content: center;
    justify-content: space-evenly;
    width: 15%;
    overflow: hidden;
    position: fixed;
    top: 0; 
    bottom: 0;
    min-height: 100%;
    background-color: var(--section-background-color);
}

/* name and photo */
mark {
    background-color: var(--section-background-color);
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside h1 {
    background-color: var(--section-background-color);
    font-size: 32px;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;    
    text-align: center; 
    color: var(--text-color);
}

aside img {
    display: inline-block;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

/* Navigation */
nav {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
}

aside nav ul li, aside nav ul li a {
    background-color: var(--section-background-color);
    color: var(--text-color);
}

aside nav ul {
    background-color: var(--section-background-color);
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}

/* Sections */
section {
    width: 80%;
    margin: 0% 10% 0% 10%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.section-headings {
    font-size: 32px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    display: block;
    margin: 20px;
}

/* My Work */
.my-work {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.my-work-headings {
    background-color: var(--section-background-color);
    padding: 5px;
    border-radius: var(--border-radius);
}

.my-work-headings a {
    font-size: 24px;
    font-weight: bold;
    background-color: var(--section-background-color);
    color: #ADEFD1FF;
}

.my-work .css-snippets {
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border: 2px dashed var(--border-color);
    border-radius: var(--border-radius);
    padding: 1%;
    margin: 1%;
}

.my-work div {
    width: 28%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border: 2px dashed var(--border-color);
    border-radius: var(--border-radius);
    padding: 1%;
    margin: 1%;
}

.my-work div img {
    width: 100%;
    border-radius: var(--border-radius);
}

/* About Me */
.about-me div {
    width: 98%;
    margin: 1%;
    border: 2px dashed var(--border-color);
    border-radius: var(--border-radius);
}

.about-me p {
    text-align: center;
    width: auto;
    margin: 1%;
    border-radius: var(--border-radius);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* contact me */
.contact-me {
    display: inline-flex;
    height: auto;
    padding: 0 0 20px 0;
}

.contact-me ul li, .contact-me ul li a {
    background-color: white;
    color: black;
}

.contact-me li {
    margin: 0 2% 0 2%;
}

.contact-me ul{
    width: 98%;
    display: inline-flex;
    justify-content: space-evenly;
    list-style: disc;
    margin: 1%;
    padding: 1% 0 1% 0;
    border: 2px dashed var(--border-color);
    background-color: white;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 900px) {
    /* header */
    aside {
        display: inline-block;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--section-background-color);
        border: 0px solid var(--section-background-color);
        align-content: center;
        justify-content: space-evenly;
        width: 15%;
        overflow: hidden;
        background-color: var(--section-background-color);
        position: fixed;
        top: 0; 
        bottom: 0px;
        height: 100%;
    }

    /* my work */
    .my-work .css-snippets {
        width: 100%;
    }

    .my-work div {
        width: 43%;
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        border: 2px dashed var(--border-color);
        border-radius: var(--border-radius);
        padding: 10px;
        margin: 1% 0% 0% 0%;
    }
    
    /* contact me */
    .contact-me ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}